openapi: 3.0.3
info:
  title: Octopus Energy Public Consumption ElectricityMeterPoints API
  version: '1.0'
  description: 'The Octopus Energy Public API is a free JSON-over-HTTPS REST API exposing the

    UK product catalog, electricity and gas tariffs, electricity and gas meter

    points, half-hourly smart-meter consumption, and industry grid supply points.


    Authentication uses HTTP Basic auth with a per-customer API key as the

    username and an empty password. Products and tariffs endpoints are open and

    do not require authentication; meter-point and consumption endpoints require

    a key for the account that owns the meter.

    '
  contact:
    name: Octopus Energy Developer Support
    url: https://developer.octopus.energy/docs/api/
  license:
    name: Octopus Energy API Terms
    url: https://octopus.energy/policies/
servers:
- url: https://api.octopus.energy/v1
  description: Public production API
security:
- basicAuth: []
- {}
tags:
- name: ElectricityMeterPoints
  description: Electricity meter points (MPAN) and registered meters.
paths:
  /electricity-meter-points/{mpan}/:
    get:
      tags:
      - ElectricityMeterPoints
      summary: Retrieve an Electricity Meter Point
      description: Retrieve information about an electricity meter point including the GSP region and registered meters.
      operationId: getElectricityMeterPoint
      security:
      - basicAuth: []
      parameters:
      - $ref: '#/components/parameters/MPAN'
      responses:
        '200':
          description: An electricity meter point.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElectricityMeterPoint'
components:
  schemas:
    Meter:
      type: object
      properties:
        serial_number:
          type: string
        registers:
          type: array
          items:
            type: object
            properties:
              identifier:
                type: string
              rate:
                type: string
              is_settlement_register:
                type: boolean
    ElectricityMeterPoint:
      type: object
      properties:
        gsp:
          type: string
          description: Grid Supply Point group
          e.g. _A through _P.: null
        mpan:
          type: string
        profile_class:
          type: integer
        meters:
          type: array
          items:
            $ref: '#/components/schemas/Meter'
  parameters:
    MPAN:
      name: mpan
      in: path
      required: true
      schema:
        type: string
      description: Meter Point Administration Number for electricity (13 digits).
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication with the customer API key as the username and an empty password.
